#cardContainer {
  position: relative;
  display: flex;
  padding: 2px;
  align-items: center;
  isolation: isolate;
  cursor: pointer;
}

#arrowSelector {
  height: 20px;
  padding: 0 10px;
}

#card {
  display: flex;
  align-items: center;
  background-color: #fceab8;
  border-radius: 25px 5px 5px 25px;
  width: 100%;
  font-size: large;
  padding-left: 5px;
  gap: 1rem;
}

#card:hover {
  background-color: #f9e79f;
}

#card.selected {
  background-color: #f38164;
  animation: fadeIn 0.15s ease-out;
}

#circle {
  border-radius: 50%;
  height: 30px;
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0.103);
}

img {
  max-height: 40px;
}
